
@use 'reset';
@use 'header';
@use 'body';

$font: Ubuntu;

* {
  box-sizing: border-box;
}
html {
  font-family: $font;
  background-color: #4c7a85;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}
.main__container {
  padding: 0 10px;
}